/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------------------------------- */

/* DEFAULT STYLES */
body {
  /*background-image: url("../images/Background.png");
  background-size: cover;
  background-position: center;*/
  background-color: #ee836c;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23d26f4c' fill-opacity='0.77' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  color: white;
  text-align: center;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid white;
}

header > a {
  width: 30%;
}

.logo {
  width: 70%;
  height: auto;
  position: relative;
  left: 0px;
  border: 1px solid white;
  border-radius: 2px;
}

footer > div {
  text-align: center;
  padding: 20px;
}

footer > div > a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
}

/*burger fold out menu*/

.nav-bar {
  display: none;
}

@keyframes moveToCenter {
  0% {
    right: 0;
  }

  100% {
    right: 45vw;
  }
}

.fold-out-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
  background-color: #91d8d8;
}

.fold-out-menu a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.fold-out-menu li {
  position: relative;
  animation: moveToCenter 1s ease-in-out 0s alternate;
  animation-fill-mode: forwards;
}

.fold-out-menu li > a:hover {
  color: #ee836c;
}

/*--------------------*/

main {
  min-height: 80vh;
}

/* DASHBOARD */

#welcome-section {
  background-image: url("../images/cupcakes.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#welcome-section div {
  padding: 80px 40px;
  font-size: 25px;
}

/* RECIPES */

#recipe-section h1 {
  margin: 50px;
  font-size: 30px;
}

.dessertElement {
  margin: 20px;
}

.dessertElement > h3 {
  padding: 10px;
}

.dessertImages {
  width: 200px;
  height: auto;
  border: 5px solid white;
  margin-bottom: 10px;
}

.hideInstructions {
  display: none;
}

.displayInstructions {
  display: block;
}

/* FAQ */

#faq-section {
  margin: 30px 20px;
}

#faq-section > h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#faq-section > ul {
  list-style-type: circle;
}

#faq-section li {
  margin: 30px 20px;
  text-align: left;
}

#faq-section h3 {
  font-size: 25px;
}

/* SIGN UP PAGE & LOG IN PAGE */

.form > h1 {
  margin: 20px 0px;
  font-size: 30px;
}

.form > form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > form > input {
  margin: 10px;
  width: 70%;
  padding: 10px;
}

.form p {
  font-size: 25px;
}

.form label {
  font-size: 18px;
}

.form > form > button {
  padding: 10px;
  margin: 30px;
  background-color: #91d8d8;
  border-color: white;
  color: white;
}

.message-container {
  background-color: white;
  border: 5px solid #91d8d8;
  width: 80%;
  margin: 0 auto;
  /*display: none;*/
}

/* MEDIA QUERIES */

/* Mobile first, we start from the smallest viewport width */

/* From 768px and up */
@media (min-width: 768px) {
  header {
    height: 70px;
  }

  .logo {
    width: 60%;
  }

  #welcome-section {
    background-image: url("../images/cupcakes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }

  #welcome-section div {
    padding: 80px 40px;
    font-size: 40px;
  }

  #recipe-section h1 {
    margin-top: 70px;
    font-size: 50px;
  }

  #recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dessertElement {
    max-width: 300px;
  }

  #faq-section h1 {
    font-size: 50px;
    margin-bottom: 80px;
  }

  #faq-section h3 {
    font-size: 40px;
  }

  #faq-section p {
    font-size: 25px;
  }

  .form > h1 {
    margin: 40px 0px;
    font-size: 40px;
  }

  .form > form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form > form > input {
    margin: 20px;
    padding: 20px;
    width: 40%;
  }

  .form > form > button {
    font-size: 20px;
    padding: 20px;
    margin: 30px;
    background-color: #91d8d8;
    border-color: white;
  }

  .form p {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .form label {
    font-size: 30px;
  }
}

/* From 1024px and up */
@media (min-width: 1024px) {
  #welcome-section {
    background-image: url("../images/cupcakes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 800px;
    margin: 0 auto;
  }

  .nav-bar {
    display: inline-block;
  }

  .burger-menu {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }

  .logo {
    width: 60%;
    height: auto;
    position: relative;
    left: 0px;
  }

  nav li {
    display: inline-block;
    margin: 20px;
  }

  nav li a {
    text-decoration: none;
    color: white;
    font-size: 40px;
  }

  nav li a:hover {
    color: #91d8d8;
  }

  #recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dessertElement {
    max-width: 300px;
  }

  .dessertImages {
    width: 300px;
  }

  .form > form > input {
    margin: 20px;
    padding: 15px;
    width: 30%;
  }
}
